.label-button2 {
  position: relative;
  font-size: var(--body-regular-14-size);
  line-height: 150%;
  font-family: var(--subtitle-is-4);
  color: var(--text-common);
  text-align: left;
}
.button-basic2 {
  cursor: pointer;
  border: 1px solid var(--text-common);
  padding: var(--spacing-1) var(--spacing-4);
  background-color: var(--bg-titlebar);
  position: relative;
  border-radius: var(--spacing-05);
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button-basic2:hover {
  background-color: var(--color-aliceblue);
}
.button-basic2:active {
  background-color: var(--color-lavender);
  box-shadow: 0 0 0 2px #f0f5ff;
}
.button-basic2:disabled {
  background-color: var(--color-grey-light);
}
.button-basic2:disabled .label-button2 {
  color: var(--text-menu);
}
