.card-header {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.input,
.label {
  font-family: var(--subtitle-is-4);
  color: var(--text-common);
}
.label {
  position: relative;
  font-size: var(--subtitle-is-6-size);
  line-height: 120%;
  text-align: left;
}
.input {
  border: 1px solid var(--text-menu);
  outline: 0;
  font-size: var(--body-regular-14-size);
  background-color: var(--bg-titlebar);
  align-self: stretch;
  border-radius: var(--spacing-1);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--spacing-2);
}
.input:disabled {
  background-color: var(--color-grey-light);
}
.input:focus {
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  box-shadow: 0 0 0 3px #f0f5ff;
}
.input-with-label,
.input {
  background-color: var(--bg-titlebar);
  display: flex;
  justify-content: flex-start;
}
.input-with-label {
  width: 320px;
  height: 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px 0;
}
.label-button {
  position: relative;
  font-size: var(--body-regular-14-size);
  line-height: 150%;
  font-family: var(--subtitle-is-4);
  color: var(--text-common);
  text-align: left;
}
.button-basic {
  cursor: pointer;
  border: 1px solid var(--text-common);
  padding: var(--spacing-1) var(--spacing-4);
  background-color: var(--bg-titlebar);
  border-radius: var(--spacing-05);
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button-basic:hover {
  background-color: var(--color-aliceblue);
}
.button-basic:active {
  background-color: var(--color-lavender);
  box-shadow: 0 0 0 2px #f0f5ff;
}
.button-basic:disabled {
  background-color: var(--color-grey-light);
}
.button-basic:disabled .label-button {
  color: var(--text-menu);
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.card-body {
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px 0;
}
.button-basic,
.card-body,
.card-myinfo {
  display: flex;
  justify-content: flex-start;
}
.card-myinfo {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacing-2) 0;
  gap: 16px 0;
}
.button-wrapper,
.contents-myinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.contents-myinfo {
  width: 100%;
  position: relative;
  background-color: var(--bg-titlebar);
  justify-content: center;
  padding: var(--padding-21xl) var(--padding-45xl) var(--padding-21xl)
    var(--padding-21xl);
  box-sizing: border-box;
  gap: 24px 0;
  text-align: left;
  font-size: var(--heading-is-5-size);
  color: var(--text-normal);
  font-family: var(--subtitle-is-4);
}
