.icon-plus,
.label-cta {
  position: relative;
  flex-shrink: 0;
}
.icon-plus {
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.label-cta {
  width: 69px;
  font-size: var(--body-regular-14-size);
  line-height: 150%;
  font-family: var(--subtitle-is-4);
  color: var(--bg-titlebar);
  text-align: center;
  display: inline-block;
}
.button-cta {
  cursor: pointer;
  border: 0;
  padding: var(--spacing-1) var(--spacing-2);
  background-color: var(--button-background-cta);
  border-radius: var(--spacing-05);
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 0 4px;
}
.button-cta:hover {
  background-color: var(--color-mediumblue-100);
}
.button-cta:active {
  background-color: var(--color-midnightblue);
}
.button-cta:disabled {
  background-color: var(--color-grey-light);
}
.button-cta:disabled .label-cta {
  color: var(--text-menu);
}
.button-dropdown1 {
  height: 40px;
  border-radius: var(--spacing-05);
  background-color: var(--bg-titlebar);
  border: 1px solid var(--text-common);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--spacing-1) var(--spacing-5) var(--spacing-1) var(--spacing-2);
  gap: 0 4px;
  font-family: var(--subtitle-is-4);
  font-size: var(--body-regular-14-size);
  color: var(--text-common);
  appearance: none;
  background: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right 8px bottom 50%;
  padding-right: var(--spacing-5);
}
.button-dropdown1:active,
.button-dropdown1:hover {
  border: 1px solid var(--button-background-cta);
  box-sizing: border-box;
}
.button-dropdown1:focus {
  border: 1px solid var(--button-background-cta);
  box-sizing: border-box;
}
.button-dropdown1:checked {
  border: 1px solid var(--button-background-cta);
  box-sizing: border-box;
}
.label-filter {
  width: 52px;
  position: relative;
  font-size: var(--body-regular-14-size);
  line-height: 150%;
  font-family: var(--subtitle-is-4);
  color: var(--text-common);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.button-filter,
.button-filter:hover {
  background-color: var(--bg-titlebar);
  box-sizing: border-box;
}
.button-filter {
  cursor: pointer;
  border: 1px solid var(--text-common);
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: var(--spacing-05);
  height: 40px;
  align-items: center;
  gap: 0 4px;
}
.button-filter:hover {
  border: 1px solid var(--button-background-cta);
}
.button-filter:active {
  filter: drop-shadow(0 0 0 2px #f0f5ff);
}
.button-filter,
.button-wrapper,
.search-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button-wrapper {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.search-field1 {
  border: 1px solid var(--text-menu);
  outline: 0;
  background-color: var(--bg-titlebar);
  height: 40px;
  border-radius: var(--spacing-1);
  box-shadow: var(--shadow-xs);
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  padding: var(--padding-3xs) var(--spacing-2);
  font-family: var(--subtitle-is-4);
  font-size: var(--body-regular-14-size);
  color: var(--text-secondary);
  min-width: 275px;
}
.search-field1:focus {
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
}
.buttons-n-search {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 57px 16px;
}
.last-list-img-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 584px;
  flex-shrink: 0;
  object-fit: cover;
}
.contents-last-list {
  width: 100%;
  position: relative;
  background-color: var(--bg-titlebar);
  height: 888px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--spacing-lg);
  box-sizing: border-box;
  gap: 40px 0;
  min-width: var(--width-content-min-width);
}
