body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --subtitle-is-4: Inter;

  /* font sizes */
  --body-regular-12-size: 12px;
  --heading-is-5-size: 20px;
  --subtitle-is-6-size: 16px;
  --subtitle-is-4-size: 24px;
  --font-size-sm: 14px;

  /* Colors */
  --text-secondary: #767676;
  --text-normal: #111;
  --color-transparent: rgba(255, 255, 255, 0);
  --text-menu: #aaa;
  --text-common: #2e2e2e;
  --bg-titlebar: #fff;
  --text-title: #000;
  --navbar-background-color-default: #f9fbff;
  --color-grey-light: #f3f3f3;
  --color-aliceblue: #f0f5ff;
  --color-lavender: #cedeff;
  --button-background-cta: #283eff;
  --color-mediumblue-100: #1121cd;
  --color-midnightblue: #000d73;

  /* Spacing */
  --spacing-2: 16px;
  --spacing-1: 8px;
  --spacing-05: 4px;
  --spacing-lg: 40px;
  --width-content-min-width: 800px;
  --spacing-4: 32px;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-0: 0px;
  --gap-21xl: 40px;
  --gap-base: 16px;
  --gap-sm: 14px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-base: 16px;
  --padding-3xs: 10px;
  --padding-5xs: 8px;
  --padding-13xl: 32px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;

  /* Effects */
  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
