.httpscrazy-lsn-lms-pubnetl14 {
  text-decoration: underline;
}
.httpscrazy-lsn-lms-pubnetl13 {
  color: inherit;
}
.httpscrazy-lsn-lms-pubnetl12 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.httpscrazy-lsn-lms-pubnetl11 {
  position: relative;
}
.index1,
.page-list1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.page-list1 {
  gap: 10px 0;
}
.index1 {
  position: relative;
  background-color: var(--text-menu);
  width: 100%;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-regular-12-size);
  color: var(--text-common);
  font-family: var(--subtitle-is-4);
}
