.label5 {
  position: relative;
  line-height: 120%;
}
.input5 {
  border: 1px solid var(--text-menu);
  outline: 0;
  background-color: var(--bg-titlebar);
  align-self: stretch;
  border-radius: var(--spacing-1);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--spacing-2);
  font-family: var(--subtitle-is-4);
  font-size: var(--font-size-sm);
  color: var(--text-common);
}
.input5:disabled {
  background-color: var(--color-grey-light);
}
.input5:focus {
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  box-shadow: 0 0 0 3px #f0f5ff;
}
.input-with-label5 {
  width: 100%;
  position: relative;
  background-color: var(--bg-titlebar);
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px 0;
  text-align: left;
  font-size: var(--subtitle-is-6-size);
  color: var(--text-common);
  font-family: var(--subtitle-is-4);
}
