.label {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.input {
  border: 1px solid var(--text-menu);
  outline: 0;
  font-family: var(--subtitle-is-6);
  font-size: var(--subtitle-is-6-size);
  background-color: var(--bg-titlebar);
  align-self: stretch;
  border-radius: var(--spacing-1);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--spacing-2);
  color: var(--text-common);
}
.input:disabled {
  background-color: var(--color-grey-light);
}
.input:focus {
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  box-shadow: 0 0 0 3px #f0f5ff;
}
.input-with-label,
.input-with-label1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-with-label1 {
  width: 320px;
  background-color: var(--bg-titlebar);
  height: 70px;
  gap: 6px 0;
}
.input-with-label {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--text-sm-medium-size);
  color: var(--text-common);
  font-family: var(--subtitle-is-6);
}
