.label-menu3 {
  position: relative;
  font-size: var(--subtitle-is-6-size);
  line-height: 120%;
  font-family: var(--subtitle-is-4);
  color: var(--text-menu);
  text-align: left;
}
.menuitem3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--navbar-background-color-default);
  width: 100%;
  position: relative;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.menuitem3:hover {
  background-color: var(--color-aliceblue);
}
.menuitem3:hover .label-menu3 {
  color: var(--text-secondary);
}
.menuitem3:focus {
  background-color: var(--color-lavender);
}
.menuitem3:focus .label-menu3 {
  color: var(--text-common);
}
