.lsnetworks1 {
  margin: 0;
}
.lsnetworks-lms-admin-container1 {
  position: relative;
  font-size: var(--subtitle-is-4-size);
  line-height: 120%;
  font-family: var(--subtitle-is-4);
  color: var(--border-primary);
  text-align: center;
}
.mainlogo1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.label-menu4 {
  position: relative;
  font-size: var(--subtitle-is-6-size);
  line-height: 120%;
  font-family: var(--subtitle-is-4);
  color: var(--text-menu);
  text-align: left;
}
.menuitem4,
.menuitem5,
.menuitem6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--navbar-background-color-default);
  align-self: stretch;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.menuitem4:hover {
  background-color: var(--color-aliceblue);
}
.menuitem4:hover .label-menu4 {
  color: var(--text-secondary);
}
.menuitem4:focus {
  background-color: var(--color-lavender);
}
.menuitem4:focus .label-menu4 {
  color: var(--border-primary);
}
.menuitem5:hover {
  background-color: var(--color-aliceblue);
}
.menuitem5:hover .label-menu4 {
  color: var(--text-secondary);
}
.menuitem5:focus {
  background-color: var(--color-lavender);
}
.menuitem5:focus .label-menu4 {
  color: var(--border-primary);
}
.menuitem6:hover {
  background-color: var(--color-aliceblue);
}
.menuitem6:hover .label-menu4 {
  color: var(--text-secondary);
}
.menuitem6:focus {
  background-color: var(--color-lavender);
}
.menuitem6:focus .label-menu4 {
  color: var(--border-primary);
}
.menu-list1,
.nav-bar1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu-list1 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
}
.nav-bar1 {
  margin: 0;
  width: 100%;
  height: 600px;
  position: relative;
  background-color: var(--navbar-background-color-default);
  border-right: 2px solid var(--color-grey-light);
  box-sizing: border-box;
  align-items: center;
  gap: 40px 0;
  min-width: 220px;
  max-width: 220px;
  min-height: 600px;
}
