.lsnetworks {
  margin: 0;
}
.lsnetworks-lms-admin-container {
  position: relative;
  font-size: var(--subtitle-is-4-size);
  line-height: 120%;
  font-family: var(--body-regular-12);
  color: var(--text-common);
  text-align: center;
}
.mainlogo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.label-menu1 {
  position: relative;
  font-size: var(--subtitle-is-6-size);
  line-height: 120%;
  font-family: var(--body-regular-12);
  color: var(--navbar-text-color-default);
  text-align: left;
}
.menuitem1,
.menuitem2,
.menuitem3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--navbar-background-color-default);
  align-self: stretch;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.menuitem1:hover {
  background-color: var(--color-aliceblue);
}
.menuitem1:hover .label-menu1 {
  color: var(--color-gray);
}
.menuitem1:focus {
  background-color: var(--color-lavender);
}
.menuitem1:focus .label-menu1 {
  color: var(--text-common);
}
.menuitem2:hover {
  background-color: var(--color-aliceblue);
}
.menuitem2:hover .label-menu1 {
  color: var(--color-gray);
}
.menuitem2:focus {
  background-color: var(--color-lavender);
}
.menuitem2:focus .label-menu1 {
  color: var(--text-common);
}
.menuitem3:hover {
  background-color: var(--color-aliceblue);
}
.menuitem3:hover .label-menu1 {
  color: var(--color-gray);
}
.menuitem3:focus {
  background-color: var(--color-lavender);
}
.menuitem3:focus .label-menu1 {
  color: var(--text-common);
}
.menu-list,
.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu-list {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
}
.nav-bar {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: var(--navbar-background-color-default);
  box-shadow: -0.5px 0 0 rgba(0, 0, 0, 0.25) inset;
  height: 600px;
  align-items: center;
  gap: 40px;
  min-height: 600px;
}
