.title-text {
  position: relative;
  line-height: 120%;
}
.page-title {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--heading-is-5-size);
  color: var(--text-title);
  font-family: var(--body-regular-12);
}
