.lsnetworks1 {
  margin: 0;
}
.lsnetworks-lms-admin-container1 {
  position: relative;
  font-size: var(--subtitle-is-4-size);
  line-height: 120%;
  font-family: var(--body-regular-12);
  color: var(--text-common);
  text-align: center;
}
.mainlogo1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.label-menu4 {
  position: relative;
  font-size: var(--subtitle-is-6-size);
  line-height: 120%;
  font-family: var(--body-regular-12);
  color: var(--text-menu);
  text-align: left;
}
.menuitem4,
.menuitem5,
.menuitem6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--navbar-background-color-default);
  align-self: stretch;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.menuitem4:hover {
  background-color: var(--color-aliceblue);
}
.menuitem4:hover .label-menu4 {
  color: var(--color-gray);
}
.menuitem4:focus {
  background-color: var(--color-lavender);
}
.menuitem4:focus .label-menu4 {
  color: var(--text-common);
}
.menuitem5:hover {
  background-color: var(--color-aliceblue);
}
.menuitem5:hover .label-menu4 {
  color: var(--color-gray);
}
.menuitem5:focus {
  background-color: var(--color-lavender);
}
.menuitem5:focus .label-menu4 {
  color: var(--text-common);
}
.menuitem6:hover {
  background-color: var(--color-aliceblue);
}
.menuitem6:hover .label-menu4 {
  color: var(--color-gray);
}
.menuitem6:focus {
  background-color: var(--color-lavender);
}
.menuitem6:focus .label-menu4 {
  color: var(--text-common);
}
.menu-list1,
.nav-bar1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu-list1 {
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
}
.nav-bar1 {
  margin: 0;
  width: 220px;
  background-color: var(--navbar-background-color-default);
  box-shadow: -0.5px 0 0 rgba(0, 0, 0, 0.25) inset;
  align-items: center;
  gap: var(--gap-21xl);
  min-width: 220px;
  max-width: 220px;
  min-height: 600px;
}
.title-text2 {
  position: relative;
  line-height: 120%;
}
.page-title2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon-user2 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.email2 {
  position: relative;
  font-size: var(--body-regular-12-size);
  line-height: 150%;
  font-family: var(--body-regular-12);
  color: var(--text-title);
  text-align: left;
}
.user-info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-account2,
.title-bar1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button-account2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs);
  background-color: transparent;
  justify-content: flex-end;
  gap: var(--gap-5xs);
}
.title-bar1 {
  align-self: stretch;
  background-color: var(--bg-titlebar);
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.25) inset;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-21xl);
  box-sizing: border-box;
  min-width: 800px;
}
.httpscrazy-lsn-lms-pubnetl15 {
  text-decoration: underline;
}
.httpscrazy-lsn-lms-pubnetl14 {
  color: inherit;
}
.httpscrazy-lsn-lms-pubnetl13 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.httpscrazy-lsn-lms-pubnetl12 {
  position: relative;
}
.index1,
.page-list1 {
  flex-direction: column;
}
.page-list1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.index1 {
  align-self: stretch;
  flex: 1;
  background-color: var(--text-menu);
  padding: var(--padding-21xl);
  font-size: var(--body-regular-12-size);
  color: var(--text-common);
}
.index1,
.page-skeleton,
.right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.right {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
}
.page-skeleton {
  width: 100%;
  position: relative;
  background-color: var(--bg-titlebar);
  height: 600px;
  flex-direction: row;
  min-height: 600px;
  text-align: left;
  font-size: var(--heading-is-5-size);
  color: var(--text-title);
  font-family: var(--body-regular-12);
}
