.search-field {
  border: 1px solid var(--text-menu);
  outline: 0;
  background-color: var(--bg-titlebar);
  height: 40px;
  position: relative;
  border-radius: var(--spacing-1);
  box-shadow: var(--shadow-xs);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--spacing-2);
  font-family: var(--subtitle-is-4);
  font-size: var(--font-size-sm);
  color: var(--text-secondary);
  min-width: 275px;
}
.search-field:focus {
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
}
